doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    body
        title О проекте
        h1#0.heading О проекте
        h3#1.heading
            b Что такое Куратор?
        p
            b Куратор
            |  — это театры по подписке.
        p
            | Куратор помогает находить спектакли, которые вам интересны. Тематические подборки: Вечер с девушкой, сходить с коллегами, детям 6-8 лет или детям 13-15 лет, гуманитариям, технарям истории о жизни и другие.
        h3#2.heading
            b Чем Куратор отличается от других сервисов покупки билетов?
        p
            | Авторы коллекций Куратора —
            b Крутой чел
            | , который просмотрел десятки спектаклей. Каждую неделю
            b Куртой чел
            |  добавляет в Куратор новые коллекции и обновляет старые.
        p Остальные сервисы продают билеты, не помогают в поиске.
        h3#3.heading
            b Как пользоваться Куратором?
        p
            | Выберите коллекцию и количество билетов. Заплатите один раз. Получайте по почте электронные билеты на места, с которых хорошо видно и слышно.
        body
            html
