/*div, body{*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*font-family: 'PT Sans', sans-serif;*/

/*}*/
/*.navbar {*/
    /*max-width: 1000px;*/
    /*margin: 0 auto;*/
    /*!*background-color: rgba(51,51,51,0.79);*!*/

/*}*/
/*.row {*/
    /*max-width: 1000px;*/
    /*margin: 0 auto;*/
    /*margin-top: 200px;*/
/*}*/
body {
    background: #f6f5f3!important;

}
.navbar {
    background-color: #ffffff;
    padding: .5rem 2rem;
}
.jumbotron {
    background-color: #ffffff;
    margin-top: 2px;
    padding: 2rem 2rem;
}
.card:hover {
    cursor: pointer;
    color: rgb(92, 184, 92);
}
.navbar-brand {
    font-weight: bold;
}
.h4:hover {
    color: rgb(92, 184, 92);
}
.card-block {
    padding: .5rem 0rem;
}
.card {
    border: 0px;
}
p {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.card-title {
    margin-bottom: 0rem;
}

h4 {
    font-size: 1.2em;
}
hr {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.btn {
    margin-right: 10px;
}
#newcollection {
    background-color: #efeeeb;;
}

.nameCard {
    margin-left: 0.75rem;
}



.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}
.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}
.btn-googleplus {
    background: #e93f2e;
    border-radius: 0;
    color: #fff
}
.btn-googleplus:link, .btn-googleplus:visited {
    color: #fff
}
.btn-googleplus:active, .btn-googleplus:hover {
    background: #ba3225;
    color: #fff
}
.btn-stumbleupon {
    background: #f74425;
    border-radius: 0;
    color: #fff
}
.btn-stumbleupon:link, .btn-stumbleupon:visited {
    color: #fff
}
.btn-stumbleupon:active, .btn-stumbleupon:hover {
    background: #c7371e;
    color: #fff
}
.btn-linkedin {
    background: #0e76a8;
    border-radius: 0;
    color: #fff
}
.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff
}
.btn-linkedin:active, .btn-linkedin:hover {
    background: #0b6087;
    color: #fff
}



.image {
    position:relative;
}
.image img {
    width:100%;
    vertical-align:top;
}
.image:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:hover:after {
    opacity:1;
}